*ipynb*
*pycache*
/test_files
/output_files
/input_files
/pdr.egg-info/
/.idea/
/pdrtestsuite/
*scratch.py
*scratch.ipynb
/pdr/tests/data/
/pdr/oldtests/
**pdrtests.log**
/pdr/tests/reference/temp/
*.dot
*.profile
data/**
build/**
dist/**
git
meta.yaml
*.DS_store
*/.tracker_logs
/.coverage
/.pytest_cache/
/htmlcov/
