# No, it isn't possible to do this in pyproject.toml :-(
include docs/version_history.md
include environment.yml
include minimal_environment.yml
include .coveragerc
recursive-include tests *.py
include tests/data/*