# No, it isn't possible to do this in pyproject.toml :-(
include .coveragerc
include environment.yml
include minimal_environment.yml
include docs/version_history.md
include pdr/pds4_tools/CREDITS
include pdr/pds4_tools/LICENSES
include pdr/tests/data/*
